.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country-list {
  display: flex;
  flex-direction: column;
  width: 15em;
}
.country-name {
  font-size:1.5em;
  cursor: pointer;
  padding: 0.2em;
}
.gender-filter{
  cursor: pointer;
}
.user {
  padding-left: 2em;
  margin-bottom: 0.5em;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.name {
  font-size: 1.5em;
}
.gender{
font-style: italic;
color: rgb(51, 51, 51);
}
.location {
  text-align: right;
  font-size: 0.8em;
  color: rgb(66, 66, 66);
}
.regist-date {
  color: rgb(66, 66, 66);
  font-size: 0.8em;
  text-align: right;
}
